node_modules
.next
*.tsbuildinfo
out
dist
.env
.env.*
!.env.example
*.log
.DS_Store
.idea

# Strapi
cms/.tmp
cms/.strapi
cms/dist
cms/build
cms/.cache
cms/public/uploads/*
!cms/public/uploads/.gitkeep
